[submodule "SwitchTrainControl"]
	path = SwitchTrainControl
	url = https://github.com/GuBee33/ZoMa-LT-Switch-and-Train-Control.git
[submodule "RFIDCardReader"]
	path = RFIDCardReader
	url = https://github.com/GuBee33/ZoMa-LT-RFID-Cardreader.git
